@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Layout = null;

    User user = null;
    if (!string.IsNullOrWhiteSpace(Context.Session.GetString("USER_BO")))
    {
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("USER_BO"));
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Backoffice</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="index" asp-controller="home" asp-area="">Roomy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="create" asp-controller="categories">Ajouter</a></li>
                            <li><a asp-action="index" asp-controller="categories">Afficher</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="create" asp-controller="rooms">Ajouter</a></li>
                            <li><a asp-action="index" asp-controller="rooms">Afficher</a></li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (user != null)
                    {
                        <li><a style="color:white;">Bonjour @user.Firstname</a></li>
                        <li><a asp-action="logout" asp-controller="users" , asp-area="">Se déconnecter</a></li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()


    </div>

    <footer class="panel-footer">
        Backoffice
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("SectionScripts", false)

</body>
</html>
