
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Backoffice</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="container">

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("SectionScripts", false)

</body>
</html>
