@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Roomy</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Roomy</h1>
        </header>
        
        @* @Html.Partial("_Menu") => dep.*@
        @* @{ await Html.RenderPartialAsync("_Menu");} *@
        <partial name="_Menu" />

        @RenderBody()

        <footer class="panel-footer">
            &copy; Roomy
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("SectionScripts", false)
    
</body>
</html>
